body {  
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}
nav .profile {
    display: flex;
    align-items: center;
}
nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
nav ul li:hover {
    border-bottom-color: black;
}